* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

:root {
  --not-color: #1daa61;
  --receiver-1-color: #363636;
  --sender-1-color: #005c4b;
  --text-color: #ffffff;
  --bg-color: #2c2c2c;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

div > span {
  padding: 10px;
  cursor: pointer;
}

div > span:hover {
  border-radius: 7px;
  background-color: #ffffff21;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.open {
  display: none;
}

.close {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* ::-webkit-scrollbar:hover {
  width: 5px;
} */

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 5px;
  background: #555;
}
